.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.chart-header {
  width: 100vw;
  height: 80px;
  background: #262C46;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lineGraph {
  width: 60vw;
  height: 300px;
  margin-top: 30px;
  background: #262C46;
  padding: 20px;
}

.doughnut {
  width: 50vw;
  height: 300px;
  margin-top: 40px;
}

.barGraph {
  width: 50vw;
  height: 300px;
  margin-top: 40px;
}